data/
results/
tho*
cufflinks*
sailfish*
rsem*
express*
nohup.out
hs_bowtie_index
.map_reads
.prepare_transcript_reference
.run_quantification_tools
.calculate_gene_expression
protein_coding_gene_ids.txt
taq_genes.txt
genome_reference/
mapped_reads/
quant_results/
gene_expression/
analysis/
